<div class="mb-3">

    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">AXBOROT BYULLETENI</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <p>So'ngi yangiliklarda xabardor bo'lish uchun elmailiningizni registratsiya qiling</p>
        <form action="" method="post" class="input-group mb-2" style="width: 100%;">
            <input type="email" class="form-control form-control-lg" placeholder="Sizning emailingiz"><br>
            <div class="input-group-append">
                <button class="btn btn-primary font-weight-bold px-3">Registratsiya</button>
            </div>
        </form>
    </div>
</div>
